@* @model IEnumerable<Domain.Entities.JobPosting> *@

@* @{ *@
@*     ViewData["Title"] = "Index"; *@
@*     Layout = "~/Views/Shared/_Layout.cshtml"; *@
@* } *@

@* <h1>Index</h1> *@

@* <p> *@
@*     <a asp-action="Create">Create New</a> *@
@* </p> *@
@* <table class="table"> *@
@*     <thead> *@
@*         <tr> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Title) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Description) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.SkillsRequirement) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.EducationRequirement) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.ExperienceRequirement) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.CreatedAt) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.SkillsScoring) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.EducationScoring) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.ExperienceScoring) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.User) *@
@*             </th> *@
@*             <th></th> *@
@*         </tr> *@
@*     </thead> *@
@*     <tbody> *@
@* @foreach (var item in Model) { *@
@*         <tr> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.Title) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.Description) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.SkillsRequirement) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.EducationRequirement) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.ExperienceRequirement) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.CreatedAt) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.SkillsScoring) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.EducationScoring) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.ExperienceScoring) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.User.Email) *@
@*             </td> *@
@*             <td> *@
@*                 <a asp-action="Edit" asp-route-id="@item.JobId">Edit</a> | *@
@*                 <a asp-action="Details" asp-route-id="@item.JobId">Details</a> | *@
@*                 <a asp-action="Delete" asp-route-id="@item.JobId">Delete</a> *@
@*             </td> *@
@*         </tr> *@
@* } *@
@*     </tbody> *@
@* </table> *@


@model IEnumerable<Domain.Entities.JobPosting>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Job Postings</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100" style="cursor: pointer;" onclick="location.href='@Url.Action("Details", new { id = item.JobId })'">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">
                        <small class="text-muted">Posted on: @item.CreatedAt.ToString("MMM dd, yyyy")</small>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">By: @item.User.Email</small>
                    </p>
                    <p class="card-text">
                        <strong>Description:</strong> @item.Description
                    </p>
                    <p class="card-text">
                        <strong>Skills Requirement:</strong> @item.SkillsRequirement
                    </p>
                    <p class="card-text">
                        <strong>Education Requirement:</strong> @item.EducationRequirement
                    </p>
                    <p class="card-text">
                        <strong>Experience Requirement:</strong> @item.ExperienceRequirement
                    </p>
                </div>
            </div>
        </div>
    }
</div>

